.container{
    height: 39em;
    max-width: 100%;
    width: 100%;
    background-color: var(--blanco);
    background-image: url('/assets/contacto.png');
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-size: 35em;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: 40em 6em;
}

.form{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    margin-left: 0;
}

.formCont{
    margin-top: 2em;
    margin-left: 5em;
}

.message{
    height: 10em;
    border-radius: 10px;
    border: none;
    outline-color: var(--azul);
}
.email{
    height: auto;
    border-radius: 5px;
    border: none;
    outline-color: var(--azul);
}

form h1{
    margin: .5em 0;
}

form input, textarea {
    width:30em;
    padding-left: .5em;
}
button{
    font-weight: 600;
    background-color: var(--amarillo);
    box-shadow:var(--azul) 4px 4px 0px;
    border-radius: 5px;
    transition:transform 200ms,box-shadow 200ms;
    width: 6em;
    height: 2.5em;
    margin-left: 0;
  }
  
  button:active{
    transform:translateY(4px)translateX(4px);
    box-shadow:var(--azul) 0px 0px 0px;
  }


.iconCont{
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    gap: 5.2em;
}

.icon, .iconLink{
    font-weight: 600;
    background-color: var(--amarillo);
    box-shadow:var(--azul) 4px 4px 0px;
    border-radius: 5px;
    transition:transform 200ms,box-shadow 200ms;
    width: 3.5em;
    height: 3.5em;
    border: 2px solid var(--azul);
    border-radius: 50%;
}

.icon:active, .iconLink:active{
    transform:translateY(4px)translateX(4px);
    box-shadow: var(--azul) 0px 0px 0px;
  }

footer{
    display: flex;
    background-color: var(--vino);
    max-width: 100%;
    width:100%;
    height: 2em;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    text-align: center;
}

           /* MEDIA QUERYS */

/* laptops screens*/
@media screen and (min-width:780px) and (max-width:1024px){
    .container{
        background-position: 35em 6em;
        height: 35em;
        background-size: 30em;
    }
    
    .formCont{
        margin-left: 4em;
    }
}

/* Tablet screens*/
@media screen and (min-width:520px) and (max-width:780px){
    .container{
        background-position: 25em 6em;
        height: 35em;
    }

    .formCont{
        margin-left: 3em;
        margin-top: 5em;
    }
}

/* smartphone screen */
@media screen and (min-width:425px) and (max-width:520px){
    .container{
        background-position: 10em 20em;
        height: 38em;
        background-size: 25em;
    }

    .formCont{
        margin-left: 1em;
        margin-top: 4em;
    }

    .message{
        height: 10em;
    }
    .email{
        height: auto;
    }


    form input, textarea{
        width:22em;
    }
    
    button{
        width: 15em;
        height: 2.5em;
        margin-top: 1em;
    }

    .iconCont{
        margin-top: 6em;
        gap: 3.2em;
    }
    
    .icon, .iconLink{
        width: 3em;
        height: 3em;
    }
}

@media screen and (min-width: 375px) and (max-width:424px){
    .container{
        background-position: 7em 23em;
        height: 40.5em;
        background-size: 25em;
    }

    .formCont{
        margin-left: 1em;
        margin-top: 3em;
    }

    .message{
        height: 15em;
    }
    .email{
        height: auto;
    }

    form input, textarea{
        width:20em;
    }
    button{
        width: 15em;
        height: 2.5em;
        margin-top: 1em;
        font-size: 1em;
    }

    .iconCont{
        margin-top: 6em;
        gap: 2.5em;
    }
    
    .icon, .iconLink{
        width: 3em;
        height: 3em;
    }
}

@media screen and (min-width: 320px) and (max-width:374px){
    .container{
        background-position: 6em 20em;
        height: 39em;
        background-size: 22em;
    }

    .formCont{
        margin-left: .5em;
        margin-top: 3em;
    }

    .message{
        height: 10em;
    }
    .email{
        height: auto;
    }

    form input, textarea{
        width:18em;
    }

    button{
        width: 15em;
        height: 2.5em;
        margin-top: 1em;
    }

    .iconCont{
        margin-top: 6em;
        gap: 1.9em;
    }
    
    .icon, .iconLink{
        width: 3em;
        height: 3em;
    }
}