
<div class="container">
    <div class="infoCont">
            <h1 class="title">My Work</h1>
                <div class="expCont">
                    <div class="main_cont">
                        <img class="image" src="assets/BookingPage.png" alt="BookingPage">
                        <div class="overlay">
                            <h2>Booking Page</h2>
                            <p>Made only with HTML and CSS</p>
                            <div class="btnCont">
                                <a href="https://bpage.netlify.app/" target="_blank"><button >Website</button></a>
                                <a href="https://github.com/NValRod/Booking-page" target="_blank"><button>Repository</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="main_cont">
                        <img class="image" src="assets/W3WEB.png" alt="W3-WEB">
                        <div class="overlay">
                            <h2>W3 WEB</h2>
                            <p>Made with HTML, CSS, JavaScript</p>
                            <div class="btnCont">
                                <a href="https://w3web.netlify.app/" target="_blank"><button>Website</button></a>
                                <a href="https://github.com/NValRod/W3WEB" target="_blank"><button>Repository</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="main_cont">
                        <img class="image" src="assets/BuscadorPais.png" alt="Buscador Pais">
                        <div class="overlay">
                            <h2>Buscador Paises</h2>
                            <p>Made with Angular</p>
                            <div class="btnCont">
                                <a href="https://buscarpaisesnv.netlify.app" target="_blank"><button>Website</button></a>
                                <a href="https://github.com/NValRod/Buscador-Paises" target="_blank"><button>Repository</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="main_cont">
                        <img class="image" src="assets/Portfolio.png" alt="Portfolio">
                        <div class="overlay">
                            <h2>My Portfolio</h2>
                            <p>Made with Angular</p>
                            <div class="btnCont">
                                <a href="" target="_blank"><button>Website</button></a>
                                <a href="" target="_blank"><button>Repository</button></a>
                            </div>
                        </div>
                    </div>
                </div> 
        </div>
</div>
