
.container{
    background-image: url(/assets/bg.webp);
    background-color: rgb(33,37,41);
    background-blend-mode:soft-light;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    width: 100%;
    min-height: 45.5rem;
    display: flex;
    background-attachment:fixed;
    animation: fadeIn 3s ease;
}

@keyframes fadeIn{
    0% {opacity: 0;
        filter: blur(10px);
    }

    10%{opacity: 1;
        filter: brightness(2)blur(5px);
    }
}


.subCont h1{
    color: var(--amarillo);
}
.subCont{
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2em;
}


@media screen and (min-width:305px) and (max-width:480px){
    .container{
        min-height: 53rem;
    }
    .subCont{
        margin-top: -7em;
    }
}
