<nav class="navbar bg-dark">
    <div class="container-fluid" id="navbar">
      <a class="navbar-brand" (click)="toHome()">
        <div class="iconCont">
          <i class="material-icons myIcon">home</i>
          <label>Home</label>
        </div>
      </a>
      <a class="navbar-brand" (click)="toAbout()">
        <div class="iconCont">
          <i class="material-icons myIcon">person</i>
          <label>AboutMe</label>
        </div>
      </a>
      <a class="navbar-brand" (click)="toWorks()">
        <div class="iconCont">
          <i class="material-icons myIcon">desktop_mac</i>
          <label>Works</label>
        </div>
      </a>
      <a class="navbar-brand" (click)="toContact()">
        <div class="iconCont">
          <i class="material-icons myIcon">contact_phone</i>
          <label>Contact</label>
        </div>
      </a>
      <a class="cv" href="../../../assets/CV Nicolas Valbuena.pdf" target="_blank" download="">
          <button type="button" matTooltip="Download CV"><i class="material-icons" style="font-size: 30px;">cloud_download</i></button>
      </a>
    </div>
</nav>





